
<div class="wrapper">
  <div class="section section-posts">
    <div class="post-item">
      <div class="post-item-inner">
        <div class="post-item-header">
          <div class="post-item-nth">1</div>Plaats uw stelling
        </div>
        <div class="post-item-body">Ontwerp eenvoudig stellingen voor elke situatie. </div>
      </div>
    </div>
    <div class="post-item">
      <div class="post-item-inner">
        <div class="post-item-header">
          <div class="post-item-nth">2</div>Bereik specifieke doelgroepen
        </div>
        <div class="post-item-body">Bereik betrouwbaar specifieke doelgroepen.</div>
      </div>
    </div>
    <div class="post-item">
      <div class="post-item-inner">
        <div class="post-item-header">
          <div class="post-item-nth">3</div>Direct inzicht 
        </div>
        <div class="post-item-body">Krijg realtime inzicht in de resultaten.</div>
      </div>
    </div>
  </div>
</div>