
<div class="view-content">
  <div class="form">
    <div class="form-group">
      <label class="form-label">DESCRIPTION</label>
      <input class="form-control" ng-model="$ctrl.form.values.description" type="text" placeholder="Description Here"/>
      <div class="form-error" ng-repeat="err_msg in $ctrl.form.errors.description" ng-bind="err_msg"></div>
    </div>
    <div class="form-group">
      <label class="form-label">AMOUNT</label>
      <input class="form-control" ng-model="$ctrl.form.values.amount" type="number" placeholder="Fill in Amount"/>
      <div class="form-error" ng-repeat="err_msg in $ctrl.form.errors.amount" ng-bind="err_msg"></div>
    </div>
  </div>
</div>
<div class="view-footer"><a class="button button-success button-wide" href="#" ng-click="$ctrl.showQrCode()">MAKE REQUEST</a></div>