
<div class="app-view">
  <div class="app-container app-container-inverse">
    <div class="welcome-navbar">
      <!-- .qrcode.mdi.mdi-qrcode-->
      <div class="power mdi mdi-information-outline" ng-click="$ctrl.showInfo()"></div>
    </div>
    <div class="welcome-logo"><img src="./assets/img/logo.svg" alt=""/><span>StemApp</span></div>
  </div>
  <div class="app-footer">
    <div class="button button-wide button-primary-inverse text-center" ng-click="$ctrl.authorize()">STEMMEN</div>
  </div>
</div>